{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}System{% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com"></script>

    {% block extra_head %}
    {% endblock %}

</head>

<body>

    {% block content %}
    {% endblock %}


    <script src="{% static 'account/js/main.js' %}"></script>

    {% block extra_scripts %}
    {% endblock %}

</body>

</html>